
.lableText {
    font-size: 19px;
}

#sidebar ul {
    list-style-type: none;
}

 #sidebar ul li {
  background-color: gray;
    border: 1px solid;
    color: white;
    font-size: 18px;
    text-align: center;
    
    
}

.even{
    background-color: #dae8e8;
    font-size: 13px;
    padding: 7px;
}
.odd{
    background-color: #f5f5f5;
    font-size: 13px;
    padding: 7px;
}
.pointer {
    cursor: pointer;
}

#sidebar ul > li:active { 
    background-color: yellow;
    border: 1px solid;
    color: white;
    font-size: 18px;
    text-align: center;
}