<html>
  <head>  
    <title>Simulator</title>  
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link href="static/css/app.css" rel="stylesheet"></link>
     <link href="static/style/style.css" rel="stylesheet"></link>
  </head>
  <body ng-app="myApp" class="ng-cloak">
      <div class="generic-container" ng-controller="BookMasterController as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Data Traning Simulator </span></div>
              <div class="formcontainer">
                  <form name="myForm" class="form-horizontal">
                     <!--  <input type="hidden" ng-model="ctrl.user.id" /> -->
                      <div class="row">
                          <div class="form-group col-md-3">
                              <div class="col-md-10" id='sidebar'>
                								<div>
                									<div  class="lableText">EntityTraining</div>
                									<ul>
                										<li ng-click="ctrl.changePerson('person')"  class="pointer">Person</li>
                										<li ng-click="ctrl.changeAnswer('answer')" class="pointer">Answer</li>
                										<li ng-click="ctrl.changeMoney('money')" class="pointer">Money</li>
                									</ul>
                								</div>
                								<!-- <div>
                									<div class="lableText">Test Simulation</div>
                									<ul>
                										<li ng-click='' class="pointer">Person</li>
                										<li ng-click='' class="pointer">Answer</li>
                										<li ng-click='' class="pointer">Money</li>
                										<li ng-click='' class="pointer">Person</li>
                										<li ng-click='' class="pointer">Person</li>
                									</ul>
                								</div>	 -->
                								</div>

                          </div>
                          <div class="form-group col-md-5">
                          	<div  class="lableText">Please give training Data</div>
                              <div class="col-md-10">
                                  <textarea type="text" ng-model='ctrl.textData' class="form-control input-sm" placeholder="Please enter Data" required ng-minlength="3" style="height: 303px;"></textarea> 
                              </div>
                          </div>
                          <div class="form-group col-md-3">
                          	<div  class="lableText">Console Output</div>
                              <div class="col-md-10">
                                  <textarea readOnly type="text" ng-model="ctrl.entities" name="response" class="username form-control input-sm" placeholder="Console Output" required ng-minlength="3" style="height: 299px;"></textarea> 
                              </div>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-actions floatRight">
                              <button type="button" ng-click="ctrl.validateData()"class="btn btn-warning btn-sm">Validate</button>
                              <button type="button" ng-click="ctrl.trainData()"class="btn btn-warning btn-sm" >Train</button>
                              <button type="button" ng-click="ctrl.reset()"class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Save Model</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">Trained Data Details </span></div>
              <div class="">
                 <div ng-repeat='result in ctrl.results' ng-class="{even: !($index%2), odd: ($index%2)}">
                    {{result.response}}
                 </div>
              </div>
          </div>
      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
      <script src="static/js/app.js"></script>
      <script src="static/js/service/bookMaster_Service.js"></script>
      <script src="static/js/controller/bookMaster_Controller.js"></script>
  </body>
</html>